services:
  db:
    image: postgres:15
    container_name: pg_medallion
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      # 01_schemas, 02_roles e 03_grant_roles rodam no boot
      - ./backend/SQL/init:/docker-entrypoint-initdb.d:ro 
      - ./Data:/data:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

  pipeline:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pipeline_medallion
    restart: "no"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/app
      - ./Data:/app/Data
    environment:
      PYTHONPATH: /app:/app/Data/scripts
    working_dir: /app
    command: ["python", "main.py"]

  import_raw:
    image: postgres:15
    container_name: import_raw_medallion
    restart: "no"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      pipeline:
        condition: service_completed_successfully
    volumes:
      - ./Data:/data:ro
      - ./backend/SQL:/sql:ro
    command: >
      bash -c "
      set -e;
      export PGPASSWORD=$$POSTGRES_PASSWORD;
      echo 'Criando tabelas RAW e importando CSV...';
      psql -h db -U $$POSTGRES_USER -d $$POSTGRES_DB -v ON_ERROR_STOP=1 -f /sql/raw/01_tabelas_raw.sql;
      psql -h db -U $$POSTGRES_USER -d $$POSTGRES_DB -v ON_ERROR_STOP=1 -f /sql/load/01_importacao_raw.sql;
      "

  postload:
    image: postgres:15
    container_name: postload_medallion
    restart: "no"
    env_file:
      - .env
    depends_on:
      import_raw:
        condition: service_completed_successfully
    volumes:
      - ./backend/SQL:/sql:ro
    command: >
      bash -c "
      set -e;
      export PGPASSWORD=$$POSTGRES_PASSWORD;
      echo 'Criando Silver (APP), Meta e executando Analises...';
      psql -h db -U $$POSTGRES_USER -d $$POSTGRES_DB -v ON_ERROR_STOP=1 -f /sql/silver/01_tabelas_app.sql;
      psql -h db -U $$POSTGRES_USER -d $$POSTGRES_DB -v ON_ERROR_STOP=1 -f /sql/01_tabelas_meta.sql;
      psql -h db -U $$POSTGRES_USER -d $$POSTGRES_DB -v ON_ERROR_STOP=1 -f /sql/load/02_importacao_app.sql;
      psql -h db -U $$POSTGRES_USER -d $$POSTGRES_DB -v ON_ERROR_STOP=1 -f /sql/load/03_analises.sql;
      "

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api_medallion
    restart: always
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
      postload:
        condition: service_completed_successfully
    volumes:
      - .:/app
    environment:
      PYTHONPATH: /app
    working_dir: /app
    command: ["python", "-m", "uvicorn", "backend.API.api:app", "--host", "0.0.0.0", "--port", "8000"]

volumes:
  pgdata: