version: '3.8'

services:
  db:
    image: postgres:15
    container_name: pg_medallion
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      # Scripts de estrutura inicial (DDL)
      - ./Back-end/SQL/init:/docker-entrypoint-initdb.d:ro
      # Dados para COPY (acesso direto do Postgres)
      - ./Data:/data:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

  pipeline:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pipeline_medallion
    restart: "no"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./Data:/app/Data
    command: ["python", "main.py"]

  importer:
    image: postgres:15
    container_name: importer_medallion
    restart: "no"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      pipeline:
        condition: service_completed_successfully
    volumes:
      - ./Data:/data:ro
      - ./Back-end/SQL/importacao:/sql:ro
    entrypoint: ["/bin/bash", "-lc"]
    command: >
      PGPASSWORD="$$POSTGRES_PASSWORD"
      psql -h db -U "$$POSTGRES_USER" -d "$$POSTGRES_DB" -v ON_ERROR_STOP=1
      -f /sql/01_importacao.sql

  postload:
    image: postgres:15
    container_name: postload_medallion
    restart: "no"
    env_file:
      - .env
    depends_on:
      importer:
        condition: service_completed_successfully
    volumes:
      - ./Back-end/SQL/tabelas:/sql:ro
    entrypoint: ["/bin/bash","-lc"]
    command: >
      PGPASSWORD="$$POSTGRES_PASSWORD"
      psql -h db -U "$$POSTGRES_USER" -d "$$POSTGRES_DB" -v ON_ERROR_STOP=1
      -f /sql/02_tabelas_app.sql 
      -f /sql/03_tabelas_meta.sql 
      -f /sql/04_analises.sql

volumes:
  pgdata: